body, html {
    margin: 0;
    padding: 0;
  
    
  }

.home-page-background{
    background-image: url('../assets/4839516.jpg');
    background-size: cover; 
  background-repeat: no-repeat;
 

  height: 100vh;
  

}

.hidden {
    background-image: none;
  }

.div-1{
    font-size: 3rem;
    background-color: black;
    color: aliceblue;
    padding-left: 4rem;
height:5rem;
padding-top: 1.6rem;
font-weight: 800;

}




.div-2{
   
    background-color: rgb(249, 75, 75);
    height: 7.5rem;
    padding-top: 0.5rem;
    color: rgb(255, 255, 255);
    border: 1px solid #0a0000;
    font-weight: 900;
    padding-left: 2rem;
 
    
}





.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0a0000;
    border-radius: 4px;
    background-color: #fbfbff;
    color: #0a0000;
    width: 12.2rem;
    height: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .dropdown:focus {
    border-color: #090214;
    outline: none;
  }
  
  .dropdown option {
    padding: 10px;
    font-size: 16px;
  }
  

.div-3{
    margin-left: 5rem;
}

.links{
    color: white;
}





@media (max-width: 900px) {
    .div-1 {
        font-size: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .div-2 {
        flex-direction: column;
        font-size: 1.5rem;
        height: auto;
        padding: 1rem;
    }

    .div-3 {
        margin: 0.5rem 0;
    }
    .dropdown{
        margin-left: 0.9rem;
    }
}

@media (max-width: 480px) {
    .div-1 {
        
        padding-left: 1rem;
        padding-top: 2.5rem;
    }

    .div-2 {
        font-size: 1.2rem;
        padding: 0.5rem;
        background-color: rgb(249, 250, 253);
        
    }

    .div-3 {
        margin: 0.5rem 0;
    }

    .dropdown{
        margin-left:0rem;
        background-color: rgb(139, 214, 249);
        margin-top: 0rem;
       
    }
    

}