body, html {
    margin: 0;
    padding: 0;
  
    
  }

.home-page-background{
    background-image: url('../assets/4839516.jpg');
    background-size: cover; 
  background-repeat: no-repeat;
 
  height: 100vh;
  

}


.div-1{
    font-size: 3rem;
    background-color: black;
    color: aliceblue;
    padding-left: 4rem;
height:5rem;
padding-top: 1rem;
font-weight: 800;

}




.div-2{
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    background-color: rgb(249, 75, 75);
    height: 3.5rem;
    padding-top: 1.5rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding-left: 110px;
    padding-right: 60px;
}

.div-3{
    margin-left: 5rem;
}

.links{
    color: white;
}




@media (max-width: 900px) {
    .div-1 {
        font-size: 2rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }

    .div-2 {
        flex-direction: column;
        font-size: 1.5rem;
        height: auto;
        padding: 1rem;
    }

    .div-3 {
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    .div-1 {
        
        padding-left: 1rem;
        padding-top: 2.5rem;
    }

    .div-2 {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .div-3 {
        margin: 0.5rem 0;
    }

}